.sidebarContent{
    background-color:silver;
    text-align:center;
    font-size:large;
    min-height:150px;
    margin-bottom:10px;
}

.mainContent{
    background-color:silver;
    text-align:center;
    font-size:large;
    min-height:310px;
}
.customDiv {
    background-color: silver;
    text-align: center;
    font-size: large;
    min-height: 150px;
}
